.product-page-title {
  margin-top: 80px;
}

.single-price {
  font-size: 48px;
  line-height: 1.3em;
  font-weight: 500;
}

.btn-yellow-prod {
  background-color: #FFE50F;
  font-size: 24px;
  line-height: 1em;
  border-radius: 30px;
  padding: 10px 30px;
}

.prod-description {
  font-size: 18px;
  margin-top: 80px;
}

.similar-prod{
  margin-top: 120px;
}


.img-prod {
  max-width: 100%;
  height: auto;
}

.white-shadow {
  border-radius: 30px;
  border: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}


@media (max-width:767px){
  .white-shadow {
    border-radius: 30px;
    border: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    padding: 20px !important;
  }

  .white-shadow h1 {
    font-size: 1.5rem;
  }

  .content-title, .gost, .content, .price-container, .button-container{
    width: 100% !important;
  }

  .price-container, .button-container{
    justify-content: center !important;
  }
  .price-container{
    margin: 0px !important;
  }

  .button-container{
    margin-top: 15px;
  }

  .content-title {
    font-weight: 500;
  }

  p.content-title {
    margin-bottom: 5px;
  }

  .popular-products-card{
    margin-bottom: 20px;
  }




}
