body, html {
  overflow-x:hidden;
}






h1, h2, h3, h4, p, div, span{
  color: #2A353C;

}

.h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}


/*HEADER*/

.logo-header{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.link-not:hover{
  text-decoration: none;
}

.phone-header a {
  color:#0B080A;
  font-size: 28px;
  line-height: 34px;
}

.phone-header a:hover{
  color: #0B080A;
}



.address-header{
  font-size: 14px;
  line-height: 17px;

}


@media (max-width: 770px){
  .logo-header{
    font-size: 8px;
  }

  .phone-header a {
    color:#0B080A;
    font-size: 18px;
    line-height: 1.2em;
  }

  .address-header{
    font-size: 10px;
    line-height: 1.2em;
  }


}



/*END HEADER*/

.header h1{
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  /* identical to box height */
  color: #663331;
}

.header h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  margin-top: 50px;
}





.header{
 background-image: url('../images/holodec-fon.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 padding-top:120px;
 padding-bottom: 60px;
}

.yellow-button {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  text-transform: uppercase;
  background: #FFE50F;
  border-radius: 30px;
  padding: 12px 30px;
  border-width: 0px;
  margin-top: 60px;

}
.yellow-button:hover{
    cursor:inherit;
}

.head-icontext{
  display: flex;
  margin-top: 60px;
}

.icontext{
  margin-right: 30px;

}

.icon img{
  width: 3vw;
}
.container-padding-60-100 {
  padding-top:60px;
  padding-bottom:100px;
}

.advantages{
  flex-flow: wrap;
  align-items: center;
  display: flex;
}

.advantages h2{
  margin-bottom: 35px;
}


.paragraph-20{
  margin-bottom: 20px;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  color: #555555;
}

.text-button {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  border-width: 0px;
  background: #FFF;



}

@media (max-width: 770px){

  .header h1{
    font-weight: bold;
    font-size: 42px;
    line-height: 1.3em;
    /* identical to box height */
    color: #663331;
  }

  .header h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5em;

    margin-top: 50px;
  }

  .yellow-button {

    font-size: 18px;
    line-height: 1.2em;
    padding: 12px 30px;
    margin-top: 60px;

  }
  .yellow-button:hover{
      cursor:inherit;
  }






}






/*Популярные продукты*/
.popular-products{
  padding: 100px 0px;
}

.popular-products-title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #663331;
  margin-bottom: 50px;

}

.popular-products-card img {
  max-width: 350px;
  border-radius: 30px 30px 0px 0px;
}

.popular-products-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.btn-yellow{
  background: #F7DE0C;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2A353C;

}



.price {
  font-size: 32px;
  line-height: 1.3em;
  font-weight: 500;
}


/*Цикл производства*/


.production {

  margin-bottom: 60px;
}

.title-production {
  margin-bottom: 80px;
}




.card-production{

  width:18%;


}


.card-production h3{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.card-production p{
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #858585;
}


.card-production img {
  height: 100px;
  width: auto;

}


/*Карусель для мобильного*/

@media (max-width:770px){

p.carousel-title {
  font-weight: 500;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.carousel-text {
  font-size: 14px;
  line-height: 1.3em;
  color: #858585;
}



}






/*Соответствует ГОСТ*/


.gost-container{
  padding-top: 110px;

}

.gost-text {
  padding-bottom: 140px;
}

.gost-text-p {
  margin-bottom: 35px;
}

.gost-title {
  margin-bottom: 35px;
}

/*С нами просто работать*/


.simply-title h2{
  margin-top:120px;
  margin-bottom: 60px;
}

.simply-cards-container{
  margin-bottom: 180px;
}




.simply-card{
  width:18%;
}

.simply-card img {
  height: 100px;
  width: auto;
}

.simply-card p{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}


/*Доставка Бесплатно*/


.delivery-map{
  background-image: url("/images/map-little.jpg");
}

.yellow-div{
  background-color: #F7DE0C;
}

.delivery-yellow{
  padding-top: 110px;
  padding-bottom: 180px;
}

.delivery-yellow h2{
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  color: #000000;
}

.delivery-yellow p.vrn-txt{
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.delivery-desc{
  margin-bottom:90px;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.gazel-img img {
  bottom:20px;
}

/*Попап доставки с формой*/

.popup-text{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

input#phone.popup-input, input#name.popup-input {
  border-width: 0px;
  border-bottom: 1px solid #2A353C;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 20px;
  color: #3D5C7A;
  margin-right: 0px;
}


.btn-popup{
  font-size: 20px;
  padding: 10px 35px;
  border-radius: 30px;
  background-color: #F7DE0C;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}







.align-right{
  text-align: right;
}

/*Закажите пробный образец*/

.yellow-col {


  background: #F7DE0C;
}


.zakazhite{
  font-weight: bold;
  font-size: 70px;
  line-height: 82px;
}

.probniy{
  font-weight: 500;
  font-size: 52px;
  line-height: 61px;

}

.quality{
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-top: 35px;
  margin-bottom:60px;
}


.btn-border{
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid #2A353C;
  border-radius: 0px;
  padding: 14px 60px;
}


.tester-img {
  background-image: url(/images/tester-img.jpg);
  height: 600px;
}





/*Карта с магазинами*/


.map-title {
  padding-top: 100px;
  padding-bottom: 40px;
}







/*Отзывы*/
.review-block{
  padding-top: 20px;
  padding-bottom: 50px;
}

.review-title{
  margin-bottom: 25px;
  margin-top: 35px;
}



.review-card{
  width: 48%;
  margin: 2% 0%;

  background: #EDEDED;
  border-radius: 30px;
  border:0px;

}

.review-card .card-body{
  padding: 2rem;
}

.review-card .card-body .card-title {

font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
}


.review-card .card-body .card-text {

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #555555;
}



/*Наша Команда*/


.team-title {

  padding-top: 100px;
  padding-bottom: 70px;

}



.team-card{
  width: 48%;
  margin-bottom: 4%;
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}


.team-card img {
  border-radius: 30px;
}

.team-img {
  width: 35%;
}

.team-info {
  width: 60%;
}

.team-name{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #663331;

}

.team-post{
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #3D5C7A;
}

.team-text{
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #0B080A;
}

.team-tel{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #0B080A;
}




/*Возникли вопросы? CTA секция*/

.cta-question-form{
  margin-top: 150px;
  background-color: #E9CBA7;

}

.cta-question{
  padding: 115px 0px;
}

.cta-question h2{
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
  color: #2A353C;
}

.cta-question p{
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  color: #2A353C;

  margin-bottom: 90px;
}

/*Форма Обратного звонка*/

input#phone.phone-num {
  border-width: 0px;
  border-bottom: 1px solid #2A353C;
  background-color: #E9CBA7;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 14px 60px;
  color: #3D5C7A;
  margin-right: 80px;
}






/*Страница персональных данных policy*/
